<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<array>
	<dict>
		<key>Name</key>
		<string>MainPane</string>
                <key>Class Name</key>
		<string>PPPaneController</string>
		<key>Nib Name</key>
		<string>MainPane</string>
	</dict>
</array>
</plist>
