<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Descriptions</key>
	<dict>
		<key>preferencepane.build</key>
		<dict>
			<key>ClassName</key>
			<string>PBPreferencePaneBuildController</string>
			<key>Icon</key>
			<string>Building_Prefs</string>
			<key>Name</key>
			<string>Kompilacja</string>
			<key>Nib</key>
			<string>PBPrefPaneBuild</string>
		</dict>
		<key>preferencepane.files</key>
		<dict>
			<key>ClassName</key>
			<string>PBPreferencePaneFilesController</string>
			<key>Icon</key>
			<string>Files_Prefs</string>
			<key>Name</key>
			<string>Pliki</string>
			<key>Nib</key>
			<string>PBPrefPaneFiles</string>
		</dict>
		<key>preferencepane.import</key>
		<dict>
			<key>ClassName</key>
			<string>PBPreferencePaneImportController</string>
			<key>Icon</key>
			<string>Import_Prefs</string>
			<key>Name</key>
			<string>Import</string>
			<key>Nib</key>
			<string>PBPrefPaneImport</string>
		</dict>
		<key>preferencepane.templatekeywords</key>
		<dict>
			<key>ClassName</key>
			<string>PBPreferencePaneTemplateKeywordsController</string>
			<key>Icon</key>
			<string>Templates_Prefs</string>
			<key>Name</key>
			<string>Szablony</string>
			<key>Nib</key>
			<string>PBPrefPaneTemplateKeywords</string>
		</dict>
	</dict>
	<key>Order</key>
	<array>
		<string>preferencepane.files</string>
		<string>preferencepane.import</string>
		<string>preferencepane.build</string>
		<string>preferencepane.templatekeywords</string>
	</array>
</dict>
</plist>
