<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Children</key>
	<array>
		<dict>
                        <key>Children</key>
                        <array>
                                <dict>
                                        <key>Children</key>
                                        <array/>
                                        <key>GID</key>
                                        <integer>80</integer>
                                        <key>Path</key>
                                        <string>Utilities</string>
                                        <key>Path Type</key>
                                        <integer>0</integer>
                                        <key>Privileges</key>
                                        <integer>509</integer>
                                        <key>Type</key>
                                        <integer>1</integer>
                                        <key>UID</key>
                                        <integer>0</integer>
                                </dict>
                        </array>
                        <key>GID</key>
                        <integer>80</integer>
                        <key>Path</key>
                        <string>Applications</string>
                        <key>Path Type</key>
                        <integer>0</integer>
                        <key>Privileges</key>
                        <integer>509</integer>
                        <key>Type</key>
                        <integer>1</integer>
                        <key>UID</key>
                        <integer>0</integer>
                </dict>
                <dict>
                        <key>Children</key>
                        <array>
                                <dict>
                                        <key>Children</key>
                                        <array/>
                                        <key>GID</key>
                                        <integer>80</integer>
                                        <key>Path</key>
                                        <string>Application Support</string>
                                        <key>Path Type</key>
                                        <integer>0</integer>
                                        <key>Privileges</key>
                                        <integer>509</integer>
                                        <key>Type</key>
                                        <integer>1</integer>
                                        <key>UID</key>
                                        <integer>0</integer>
                                </dict>
                                <dict>
                                        <key>Children</key>
                                        <array/>
                                        <key>GID</key>
                                        <integer>80</integer>
                                        <key>Path</key>
                                        <string>Documentation</string>
                                        <key>Path Type</key>
                                        <integer>0</integer>
                                        <key>Privileges</key>
                                        <integer>509</integer>
                                        <key>Type</key>
                                        <integer>1</integer>
                                        <key>UID</key>
                                        <integer>0</integer>
                                </dict>
                                <dict>
                                        <key>Children</key>
                                        <array/>
                                        <key>GID</key>
                                        <integer>80</integer>
                                        <key>Path</key>
                                        <string>Filesystems</string>
                                        <key>Path Type</key>
                                        <integer>0</integer>
                                        <key>Privileges</key>
                                        <integer>509</integer>
                                        <key>Type</key>
                                        <integer>1</integer>
                                        <key>UID</key>
                                        <integer>0</integer>
                                </dict>
                                <dict>
                                        <key>Children</key>
                                        <array/>
                                        <key>GID</key>
                                        <integer>80</integer>
                                        <key>Path</key>
                                        <string>Frameworks</string>
                                        <key>Path Type</key>
                                        <integer>0</integer>
                                        <key>Privileges</key>
                                        <integer>509</integer>
                                        <key>Type</key>
                                        <integer>1</integer>
                                        <key>UID</key>
                                        <integer>0</integer>
                                </dict>
                                <dict>
                                        <key>Children</key>
                                        <array/>
                                        <key>GID</key>
                                        <integer>80</integer>
                                        <key>Path</key>
                                        <string>Internet Plug-ins</string>
                                        <key>Path Type</key>
                                        <integer>0</integer>
                                        <key>Privileges</key>
                                        <integer>509</integer>
                                        <key>Type</key>
                                        <integer>1</integer>
                                        <key>UID</key>
                                        <integer>0</integer>
                                </dict>
                                <dict>
                                        <key>Children</key>
                                        <array/>
                                        <key>GID</key>
                                        <integer>80</integer>
                                        <key>Path</key>
                                        <string>PreferencePanes</string>
                                        <key>Path Type</key>
                                        <integer>0</integer>
                                        <key>Privileges</key>
                                        <integer>509</integer>
                                        <key>Type</key>
                                        <integer>1</integer>
                                        <key>UID</key>
                                        <integer>0</integer>
                                </dict>
                                <dict>
                                        <key>Children</key>
                                        <array/>
                                        <key>GID</key>
                                        <integer>80</integer>
                                        <key>Path</key>
                                        <string>Printers</string>
                                        <key>Path Type</key>
                                        <integer>0</integer>
                                        <key>Privileges</key>
                                        <integer>509</integer>
                                        <key>Type</key>
                                        <integer>1</integer>
                                        <key>UID</key>
                                        <integer>0</integer>
                                </dict>
                                <dict>
                                        <key>Children</key>
                                        <array/>
                                        <key>GID</key>
                                        <integer>80</integer>
                                        <key>Path</key>
                                        <string>QuickTime</string>
                                        <key>Path Type</key>
                                        <integer>0</integer>
                                        <key>Privileges</key>
                                        <integer>509</integer>
                                        <key>Type</key>
                                        <integer>1</integer>
                                        <key>UID</key>
                                        <integer>0</integer>
                                </dict>
                                <dict>
                                        <key>Children</key>
                                        <array/>
                                        <key>GID</key>
                                        <integer>80</integer>
                                        <key>Path</key>
                                        <string>Screen Savers</string>
                                        <key>Path Type</key>
                                        <integer>0</integer>
                                        <key>Privileges</key>
                                        <integer>509</integer>
                                        <key>Type</key>
                                        <integer>1</integer>
                                        <key>UID</key>
                                        <integer>0</integer>
                                </dict>
                                <dict>
                                        <key>Children</key>
                                        <array/>
                                        <key>GID</key>
                                        <integer>80</integer>
                                        <key>Path</key>
                                        <string>Scripts</string>
                                        <key>Path Type</key>
                                        <integer>0</integer>
                                        <key>Privileges</key>
                                        <integer>509</integer>
                                        <key>Type</key>
                                        <integer>1</integer>
                                        <key>UID</key>
                                        <integer>0</integer>
                                </dict>
                        </array>
                        <key>GID</key>
                        <integer>80</integer>
                        <key>Path</key>
                        <string>Library</string>
                        <key>Path Type</key>
                        <integer>0</integer>
                        <key>Privileges</key>
                        <integer>1021</integer>
                        <key>Type</key>
                        <integer>1</integer>
                        <key>UID</key>
                        <integer>0</integer>
                </dict>
                <dict>
                        <key>Children</key>
                        <array>
                                <dict>
                                        <key>Children</key>
                                        <array>
                                                <dict>
                                                        <key>Children</key>
                                                        <array/>
                                                        <key>GID</key>
                                                        <integer>0</integer>
                                                        <key>Path</key>
                                                        <string>Extensions</string>
                                                        <key>Path Type</key>
                                                        <integer>0</integer>
                                                        <key>Privileges</key>
                                                        <integer>493</integer>
                                                        <key>Type</key>
                                                        <integer>1</integer>
                                                        <key>UID</key>
                                                        <integer>0</integer>
                                                </dict>
                                        </array>
                                        <key>GID</key>
                                        <integer>0</integer>
                                        <key>Path</key>
                                        <string>Library</string>
                                        <key>Path Type</key>
                                        <integer>0</integer>
                                        <key>Privileges</key>
                                        <integer>493</integer>
                                        <key>Type</key>
                                        <integer>1</integer>
                                        <key>UID</key>
                                        <integer>0</integer>
                                </dict>
                        </array>
                        <key>GID</key>
                        <integer>0</integer>
                        <key>Path</key>
                        <string>System</string>
                        <key>Path Type</key>
                        <integer>0</integer>
                        <key>Privileges</key>
                        <integer>493</integer>
                        <key>Type</key>
                        <integer>1</integer>
                        <key>UID</key>
                        <integer>0</integer>
                </dict>
	</array>
	<key>GID</key>
	<integer>80</integer>
	<key>Path</key>
	<string>/</string>
	<key>Path Type</key>
	<integer>0</integer>
	<key>Privileges</key>
	<integer>1021</integer>
	<key>Type</key>
	<integer>1</integer>
	<key>UID</key>
	<integer>0</integer>
</dict>
</plist>
